@charset "utf-8";


/*find*/
header{
    background-color:#fff;
    border-bottom: 2px solid #444A54;
}
.find header{
    height: 182px;
}
header h1 svg>*{
    fill:#444A54;
}
header .gnbOpen svg>*{
    stroke: #444A54;
}
.currentPage{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #444A54;
    border-top: 2px solid #444A54;
}
.currentPageInner{
    width: 85.417%;
    margin: 0 auto; 
}
.currentPage h2{
    line-height: 64px;
    font-size: 30px;
}
.find main{
    margin-top: 272px;
} 

#recommended h2{
    text-align: center;
    font-size: 5rem;
}
.recommendedInner{
    width: 85.417%;
    margin: 0 auto; 
}
.recommendedInner .tags{
    display: flex;
    justify-content: space-between;
    width: 775px;
    margin: 60px auto 0;
}
.recommendedInner .tags li{
    background-color:#F67853;
    border-radius: 27px;
}
.recommendedInner .tags li a{
    display: block;
    padding: 10px 30px;
    font-size: 3rem;
    font-weight: 700;
    color:#fff;
}
.recommendedInner .cards{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cards a{
    position: relative;
    width: 48.780%;
    padding: 51px 0;
    border-radius: 20px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(../img/find-recommended-1.JPG) no-repeat center/cover;
}
.cards a:nth-child(2){ 
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(../img/find-recommended-2.jpg) no-repeat center/cover;
}
.cards a::after{
    content:'';
    z-index: -1;
    position: absolute;
    height: 95.215%;
    width: 90%;
    background-color:rgba(57, 70, 133,0.7);
    bottom:-10px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(15px);
    opacity: 0;
    transition: 150ms ease-out;
}
.cards a:hover::after{
    opacity: 1;
}
.cards a strong{
    display: inline-block;
    margin-left: 63px;
    padding: 13px 30px;
    border-radius: 27px;
    font-size: 2.5rem;
    font-weight: 700;
    background-color:#fff;
}
.cards a .cardInfo{
    padding: 142px 63px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards a h3{
    font-family: 'GmarketSansBold';
    font-size: 4.5rem;
    line-height: 1.3;
    color:#fff;
}
.cards a p{
    font-size: 3rem;
    color:#fff;
}

#map{
    margin-top: 170px;
}
.mapInner{
    width: 85.417%;
    height: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 82px auto 0;
    position:relative;
}
.mapLeft strong{
    font-size: 3rem;
}
.mapLeft h3{
    font-family: 'GmarketSansBold';
    font-size: 15rem;
    margin-top: 42px;
}
.mapRight{
    width: 48.780%;
    height: 660px;
    position:relative;
    overflow: hidden;
}
.mapRight svg{
    width: 100%;
    height: 100%;
}
.mapRight .cls-1{
    fill: #3e4b8d;
}
.mapRight .cls-4{
    fill: #7083e2;
}
.mapRight .cls-2{
    fill: #b7c2ea;
}
.mapRight .cls-3 {
    fill: #e8ebf1;
}
.mapRight a:hover{
    transition: 500ms ease-out;
}
.mapRight a:hover .cls-1{
    fill: #F67853;
}
.mapRight a:hover .cls-4{
    fill: #ee9074;
}
.mapRight a:hover .cls-2{
    fill: #e6b3a3;
}
.mapRight a:hover .cls-3{
    fill: #eeddd7;
}
.mapInner .mapVisual{
    position:absolute;
    width: 100%;
    z-index:-1;
}
.mapInner .mapVisual svg{
    width: 100%;
    height: 100%;
    fill:none;
}
.mapVisual svg>*{
    stroke: rgba(246, 120, 83, 0.15);
    stroke-linecap:butt;
    stroke-width: 5px;
}

/*yongsan*/
#visual{
    display: flex;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../img/yongsan-visual.jpg) no-repeat center/cover;
    align-items: center;
    overflow: hidden;
}
#visual h2{
    width: 202vw;
    display: flex;
    justify-content: space-between;
}
.mqChunk{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    animation: marquee 30s linear infinite;    
    margin-right: 2vw;
}
.myChunk:last-child{
    margin-right: 0;
}
.mqChunk span{
    font-size: 10rem;
    color:#fff;
}

.yongsan main{
    margin-top: 108px;
}
.yongsan .locationWrap{
    width: 85.417%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 31.707% 31.707% 31.707%;
    grid-template-rows: 355px 355px 355px 355px 355px 355px;
    /*그리드 여백*/
    row-gap: 60px; /*세로*/
    column-gap: 2.439%; /*가로*/
}
.yongsan .locationWrap a{
    background: url(../img/yongsan-location-namsan.jpg) no-repeat center/cover;
    border-radius: 20px;
    overflow: hidden;
    transition: 150ms ease-in-out;
}
.yongsan .locationWrap a:nth-child(2n){
    grid-row: auto / span 2;
}
.yongsan .locationWrap a:nth-child(2){
    background-image: url(../img/find-recommended-1.JPG);
}
.yongsan .locationWrap a:nth-child(3){
    background-image: url(../img/yongsan-location-banpo.jpg);
}
.yongsan .locationWrap a:nth-child(4){
    background-image: url(../img/find-recommended-2.jpg);
}
.yongsan .locationWrap a:nth-child(5){
    background-image: url(../img/yongsan-location-sunringang.jpg);
}
.yongsan .locationWrap a:nth-child(6){
    grid-column: 3;
    grid-row: 2 / span 2;
    background-image: url(../img/yongsan-location-sunrintree.jpg); 
}
.yongsan .locationWrap a:nth-child(7){
    background-image: url(../img/yongsan-location-sunguisa.jpg);
}
.yongsan .locationWrap a:nth-child(8){
    background-image: url(../img/yongsan-location-cheilchurch.jpg);
}
.yongsan .locationWrap a:nth-child(9){
    background-image: url(../img/yongsan-location-wondaegu.jpg);
}
.yongsan .locationWrap a:nth-child(10){
    background-image: url(../img/yongsan-location-wonsam.jpg);
}
.yongsan .locationWrap a:nth-child(11){
    background-image: url(../img/yongsan-location-antique.jpg);
}
.yongsan .locationWrap a:last-child{
    grid-column: 3;
    grid-row: 5 / span 2;
    background-image: url(../img/yongsan-location-jamsu.jpg);
}
.locationWrap .coloring{
    width: 100%;
    height:100%;
    padding: 50px 65px;
    display: flex;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: 150ms ease-out;
}
.locationWrap .locationInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    opacity: 0;
    transition: 150ms ease-in-out;
    transform:translate(0,-100px);
}
.locationWrap a:hover .locationInfo{
    transform:translate(0,0);
    opacity: 1;
}
.locationWrap a:hover .coloring{
    backdrop-filter: blur(5px);
    opacity: 1;
}
.locationWrap .locationInfo h3{
    font-size: 2.2rem;
    color:#fff;
}
.locationWrap .locationInfo ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color:#fff;
    border-radius: 25px;
    padding: 0 22px;
}
.locationInfo ul li{
    display: block;
    width: 28px;
    height: 28px;
}
.locationInfo li button{
    width: 100%;
    height: 100%;
    background: url(../img/yongsan-location-bookmark.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.locationInfo li:nth-child(2) button{
    background-image: url(../img/yongsan-location-like.svg);
}
.locationInfo li:last-child button{
    background-image: url(../img/yongsan-location-share.svg);
}

.pageIndi{
    width: 85.417%;
    margin: 128px auto 0;
    height: 48px;
}
.pageIndiWrap{
    float: right;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.pageNum{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 144px;
    height: 48px;
    border-radius: 25px;
    background-color:#fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.16);
}
.pageNum li a{
    font-size:3rem;
}
.pageNum li a.current{
    font-weight: 700;
    color:#F67853;
}
.nextBtn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background:url(../img/nextBtn.svg) no-repeat,#F67853;
    background-size: 75%;
    background-position: 60%;
}
@keyframes marquee{
    100%{
        transform:translate(-101vw,0);
    }
}

/*detail*/
.detail main{
    margin-top: 122px;
}

#summery{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.summeryWrap{
    width: 56.25%;
}
.summeryWrap .sumPic{
    width: 100%; 
    height: 708px;
    background: url(../img/find-recommended-1.JPG) no-repeat center/cover;
    display:flex;
    align-items: center;
}
.summeryWrap .heading{
    margin-left: -38.889%;
}
#summery .summeryWrap .heading h2{
    text-align: left;
    font-size: 10rem;
}
.summeryWrap .heading strong{
    display: block;
    padding-top: 34px;
    font-size: 3rem;
}
.summeryWrap p{
    display: block;
    margin-top: 84px;
    width: 87.037%;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.3;
}

.transportWrap{
    width: 78.125%;
    margin:0 auto;
    margin-top: 200px;
}
.transList li{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.transList .icon{
    width: 5.208vw;
    height: 5.208vw;
    background: url(../img/detail-transport-bus.svg) no-repeat,#E8EBF1;
    background-size: 60%;
    background-position: center;
    border-radius: 0.5rem;
}
.transList li:last-child .icon{
    background-image: url(../img/detail-transport-subway.svg);
}
.transList p{
    margin-left: 40px;
    font-size: 3rem;
    line-height: 1.3;
}

.infoMediaWrap{
    display: flex;
    width: 78.125%;
    margin: 200px auto 0;
    justify-content: space-between;
}
.infoMediaWrap .infoMLeft{
    width: 48.529%;
    height: 530px;
    background-color:#ddd;
    /*카카오맵 홀더*/
}
.infoMediaWrap .infoMRight{
    width: 48.529%;
    height: 900px;
    position: relative;
    margin-top: 166px;
    margin-bottom: 50px;
}

.infoMRight .imageSlideWrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imageSlideWrap .imgSlide{
    width: 300%;
    height: 100%;
    display: flex;
}
.imageSlideWrap .imgSlide li{
    width: 33.333%;
    height: 100%;
    background: url(../img/detail-imgSlide1.jpg) no-repeat center/cover;
}
.imageSlideWrap .imgSlide li:nth-child(2){
    background-image: url(../img/detail-imgSlide2.jpg);
}
.imageSlideWrap .imgSlide li:last-child{
    background-image: url(../img/detail-imgSlide3.jpg);
}
.control{
    display: flex;
    width: 200px;
    height: 100px;
    position:absolute;
    right: 0;
    bottom: -50px;
}
.control button{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.prevImg{
    background: url(../img/prevBtn.svg), #444A54;
}
.nextImg{
    background: url(../img/nextBtn.svg), #F67853;
}


.tourCourse .currentPage{
    border-top:none;
    background-color: #fff;
}

.tourCourse main{
    margin-top: 272px;
}
.tourCourse a:not(:last-of-type){
    display: block;
    margin-bottom: 200px;
}
.courseInner{
    width: 85.417%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tourCourse a:nth-of-type(2n) .courseInner{
    flex-direction: row-reverse;
}

.coursePicWrap{
    width: 57.317%;
    height: 530px;
    border-radius: 20px;
    overflow: hidden;
}
.coursePic{
    width: 150%;
    height: 150%;
    margin-top: -100px;
    background: url(../img/find-recommended-2.jpg) no-repeat center/cover;
}
.tourCourse a:nth-of-type(2) .coursePic{
    background-image:url(../img/tourCourse-2.jpg);
}
.tourCourse a:nth-of-type(3) .coursePic{
    background-image:url(../img/tourCourse-3.jpg);
}
.tourCourse a:nth-of-type(4) .coursePic{
    background-image:url(../img/tourCourse-4.jpg);
}
.courseRight{
    width: 40.243%;
}
.courseRight h2{
    text-align: left;
    margin-bottom: 165px;
    font-size: 7rem;
}
.courseRight .courseInfo strong{
    color:#F67853;
    font-size: 3rem;
    font-weight: 700;
}
.courseRight .courseInfo .waveVisual{
    width: 100%;
    height: 25px;
    margin: 15px 0 30px;
    transform: rotateY(180deg);
}
.waveVisual svg{
    width: 100%;
    height: 100%;
}
.waveVisual svg>*{
    stroke:#F67853;
    stroke-width: 5px;
    stroke-linecap: round;
    fill:none;
}
.courseRight .courseInfo p{
    font-size: 2rem;
    line-height: 1.3;
}


.tcDetail #visual{
    background:transparent;
    flex-direction: column;
    height: 900px;
    position:relative;
}
.tcDetail #visual strong{
    margin-top: 108px;
    font-size:3rem;
}
.tcDetail #visual h2{
    display: block;
    line-height: 1.15;
    margin-top: 30px;
}
#visual h2 span{
    font-size: 10rem;
    text-align: center;
}
#visual .picMask{
    width: 56.25%;
    height: 740px;
    overflow: hidden;
    position:absolute;
    top:277px;
    z-index: -1;
    display: flex;
    align-items: center;
}
#visual .picMask .picture{
    width: 100vw;
    height: 1140px;
    background:url(../img/find-recommended-2.jpg) no-repeat center/cover;
    margin: 0 auto;
}

.tcDetail main{
    margin-top: 208px;
    padding-bottom: 50px;
}
.tcDetail .mainInner{
    width: 85.417%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tcDetail .mainInner .tcMainLeft{
    width: 57.317%;
}
.tcDetail .mainInner section{
    width: 100%;
    padding: 90px 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,.16);
    position:relative;
}
.tcDetail .mainInner section:not(:last-of-type){
    margin-bottom: 250px;
}
.locaCard h2{
    line-height: 1.15;
    text-align: left;
}
.locaCard h2 span{
    font-size: 7rem;
}
.locaCard .location{
    display: block;
    margin-top: 30px;
    font-size: 3rem;
}
.locaCard p{
    margin-top: 54px;
    line-height: 1.3;
    font-size: 2.6rem;
}
.locaCard .gallery{
    display: flex;
    width: 100%;
    height: 240px;
    margin-top: 64px;
    justify-content: space-between;
}
.locaCard .gallery div{
    max-width: 240px;
    width: 30%;
    height: 100%;
    background: url(../img/find-recommended-2.jpg) no-repeat center/cover;
}
/*서울역광장*/
.locaCard .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-seoulSta2.jpg);
}
.locaCard .gallery div:last-child{
    background-image: url(../img/tcDetail-seoulSta3.jpg);
}
/*서울광장*/
.tcDetail section:nth-of-type(2) .gallery div:first-child{
    background-image: url(../img/tcDetail-seoulSquare1.jpg)
}
.tcDetail section:nth-of-type(2) .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-seoulSquare2.jpg)
}
.tcDetail section:nth-of-type(2) .gallery div:last-child{
    background-image: url(../img/tcDetail-seoulSquare3.jpg)
}
/*세실극장*/
.tcDetail section:nth-of-type(3) .gallery div:first-child{
    background-image: url(../img/tcDetail-sesil1.jpg)
}
.tcDetail section:nth-of-type(3) .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-sesil2.jpg)
}
.tcDetail section:nth-of-type(3) .gallery div:last-child{
    background-image: url(../img/tcDetail-sesil3.jpg)
}
/*옛 부민관*/
.tcDetail section:nth-of-type(4) .gallery div:first-child{
    background-image: url(../img/tcDetail-bumin1.jpg)
}
.tcDetail section:nth-of-type(4) .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-bumin2.jpg)
}
.tcDetail section:nth-of-type(4) .gallery div:last-child{
    background-image: url(../img/tcDetail-bumin3.jpg)
}
/*도로원표*/
.tcDetail section:nth-of-type(5) .gallery div:first-child{
    background-image: url(../img/tcDetail-distance1.jpg)
}
.tcDetail section:nth-of-type(5) .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-distance2.jpg)
}
.tcDetail section:nth-of-type(5) .gallery div:last-child{
    background-image: url(../img/tcDetail-distance3.jpg)
}
/*이순신동상*/
.tcDetail section:nth-of-type(6) .gallery div:first-child{
    background-image: url(../img/tcDetail-LeeSunShin1.jpg)
}
.tcDetail section:nth-of-type(6) .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-LeeSunShin2.jpg)
}
.tcDetail section:nth-of-type(6) .gallery div:last-child{
    background-image: url(../img/tcDetail-LeeSunShin3.jpg)
}
/*세종문화회관*/
.tcDetail section:last-of-type .gallery div:first-child{
    background-image: url(../img/tcDetail-SejongCulture1.jpg)
}
.tcDetail section:last-of-type .gallery div:nth-child(2){
    background-image: url(../img/tcDetail-SejongCulture2.jpg)
}
.tcDetail section:last-of-type .gallery div:last-child{
    background-image: url(../img/tcDetail-SejongCulture3.jpg)
}
.locaCard .more{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    height: 100px;
    width: 380px;
    box-shadow: 0 10px 20px rgba(0,0,0,.16);
    background-color:#F67853;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 3rem;
}
#tcDetailMap{
    width: 34.375vw;
    height: 700px;
    position:relative;
    transition:50ms ease-out;
}
#tcDetailMap .map{
    width: 100%;
    height: 100%;
}
#tcDetailMap.topReach{
    position:fixed;
    top: 208px;
    right: 7.292%;
}
#tcDetailMap.bottomReach{
    position:fixed;
    top: 208px;
    right: -50vw;
}
#tcDetailMap .control{
    position:absolute;
    z-index: 10;
}
#tcDetailMap .prevImg{
    background-image:url(../img/upBtn.svg);
}
#tcDetailMap .nextImg{
    background-image:url(../img/downBtn.svg);
}

/*wallpaper*/


.wallpaper .currentPage{
    border-top:none;
    background-color: #fff;
}
.wallpaper main{
    margin-top: 272px;
}
.wallpaper .locationWrap{
    width: 85.417%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 31.707% 31.707% 31.707%;
    grid-template-rows: 355px 355px;
    /*그리드 여백*/
    row-gap: 60px; /*세로*/
    column-gap: 2.439%; /*가로*/
}

.wallpaper .locationWrap a{
    background: url(../img/yongsan-location-namsan.jpg) no-repeat center/cover;
    border-radius: 20px;
    overflow: hidden;
    transition: 150ms ease-in-out;
}
.wallpaper .locationInfo{
    flex-direction: column;
    align-items: unset;
}
.wallpaper .locationInfo h3{
    margin: 0 auto;
}
.wallpaper .downloadIcon{
    width: 48px;
    height: 48px;
    background: url(../img/download.svg) no-repeat;
    background-size: contain;
    margin: 0 auto;
}